.botonRegistrar{
    float:right;
    margin-right: 5%;
    margin-top: 2%;
    margin-left:20px;
}

.botonIngresar{
    float:right;
    margin-top: 2%;
}

.botonLimpiar{
    margin-top: 8%;
    margin-right: 15%;
    margin-bottom: 15%;
}

.botonFinalizar{
    margin-top: 8%;
    margin-bottom: 15%;
}


div p{
    margin:auto;
}

.clima{
   float:right;
   margin-right: 3%;
   margin-top: -1.8%;
}

.indicadores{
    margin-left: 3%;
    margin-top: 3.5%;
    
}

.imgBanco{
    display: block;
    margin-left: 18%;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 50%;
}

.textoBanco{
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10%;
    padding-left: 18%;
}

.botonInicio{
    margin-left: 45%;
    margin-top:10%;
}